wsdl/db_agent.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="urn:Lim::DB::Agent"
	xmlns:lim="urn:Lim"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="LimDBAgent"
	targetNamespace="urn:Lim::DB::Agent">

	<wsdl:types>
		<xsd:schema targetNamespace="urn:Lim">
			<xsd:element name="agent_id" type="xsd:positiveInteger" />
			<xsd:element name="agent_name" type="xsd:string" />
			<xsd:element name="agent_host" type="xsd:string" />
			<xsd:element name="agent_port" type="xsd:positiveInteger" />
			<xsd:element name="Agent">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="lim:agent_id" minOccurs="0" />
						<xsd:element ref="lim:agent_name" minOccurs="0" />
						<xsd:element ref="lim:agent_host" minOccurs="0" />
						<xsd:element ref="lim:agent_port" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema targetNamespace="urn:Lim::DB::Agent">
 			<xsd:element name="ReadAgents" />
			<xsd:element name="ReadAgentsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="lim:Agent" maxOccurs="unbounded" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
 			<xsd:element name="ReadAgent">
 				<xsd:complexType>
 					<xsd:choice>
						<xsd:element ref="lim:Agent" maxOccurs="unbounded" />
 					</xsd:choice>
 				</xsd:complexType>
 			</xsd:element>
			<xsd:element name="ReadAgentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="lim:Agent" maxOccurs="unbounded" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
 			<xsd:element name="CreateAgent">
 				<xsd:complexType>
 					<xsd:choice>
						<xsd:element ref="lim:Agent" maxOccurs="unbounded" />
 					</xsd:choice>
 				</xsd:complexType>
 			</xsd:element>
			<xsd:element name="CreateAgentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="lim:Agent" maxOccurs="unbounded" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
 			<xsd:element name="UpdateAgent">
 				<xsd:complexType>
 					<xsd:choice>
						<xsd:element ref="lim:Agent" maxOccurs="unbounded" />
 					</xsd:choice>
 				</xsd:complexType>
 			</xsd:element>
			<xsd:element name="UpdateAgentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="lim:Agent" maxOccurs="unbounded" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
 			<xsd:element name="DeleteAgent">
 				<xsd:complexType>
 					<xsd:choice>
						<xsd:element ref="lim:Agent" maxOccurs="unbounded" />
 					</xsd:choice>
 				</xsd:complexType>
 			</xsd:element>
			<xsd:element name="DeleteAgentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="lim:Agent" maxOccurs="unbounded" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="ReadAgentsRequest">
		<wsdl:part element="tns:ReadAgents" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="ReadAgentsResponse">
		<wsdl:part element="tns:ReadAgentsResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="ReadAgentRequest">
		<wsdl:part element="tns:ReadAgent" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="ReadAgentResponse">
		<wsdl:part element="tns:ReadAgentResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateAgentRequest">
		<wsdl:part element="tns:CreateAgent" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateAgentResponse">
		<wsdl:part element="tns:CreateAgentResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="UpdateAgentRequest">
		<wsdl:part element="tns:UpdateAgent" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="UpdateAgentResponse">
		<wsdl:part element="tns:UpdateAgentResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="DeleteAgentRequest">
		<wsdl:part element="tns:DeleteAgent" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="DeleteAgentResponse">
		<wsdl:part element="tns:DeleteAgentResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:portType name="LimDBAgent">
		<wsdl:operation name="ReadAgents">
 			<wsdl:input message="tns:ReadAgentsRequest" />
			<wsdl:output message="tns:ReadAgentsResponse" />
		</wsdl:operation>
		<wsdl:operation name="ReadAgent">
 			<wsdl:input message="tns:ReadAgentRequest" />
			<wsdl:output message="tns:ReadAgentResponse" />
		</wsdl:operation>
		<wsdl:operation name="CreateAgent">
 			<wsdl:input message="tns:CreateAgentRequest" />
			<wsdl:output message="tns:CreateAgentResponse" />
		</wsdl:operation>
		<wsdl:operation name="UpdateAgent">
 			<wsdl:input message="tns:UpdateAgentRequest" />
			<wsdl:output message="tns:UpdateAgentResponse" />
		</wsdl:operation>
		<wsdl:operation name="DeleteAgent">
 			<wsdl:input message="tns:DeleteAgentRequest" />
			<wsdl:output message="tns:DeleteAgentResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="LimDBAgentSOAP" type="tns:LimDBAgent">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ReadAgents">
			<soap:operation soapAction="urn:Lim::DB::Agent#ReadAgents" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadAgent">
			<soap:operation soapAction="urn:Lim::DB::Agent#ReadAgent" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateAgent">
			<soap:operation soapAction="urn:Lim::DB::Agent#CreateAgent" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateAgent">
			<soap:operation soapAction="urn:Lim::DB::Agent#UpdateAgent" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteAgent">
			<soap:operation soapAction="urn:Lim::DB::Agent#DeleteAgent" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="LimDBAgent">
		<wsdl:port binding="tns:LimDBAgentSOAP" name="LimDBAgentSOAP">
			<soap:address location="@SOAP_LOCATION@/soap/db" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
