wsdl/db_master.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="urn:Lim::DB::Master"
	xmlns:lim="urn:Lim"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="LimDBMaster"
	targetNamespace="urn:Lim::DB::Master">

	<wsdl:types>
		<xsd:schema targetNamespace="urn:Lim">
			<xsd:element name="master_id" type="xsd:positiveInteger" />
			<xsd:element name="master_name" type="xsd:string" />
			<xsd:element name="master_host" type="xsd:string" />
			<xsd:element name="master_port" type="xsd:positiveInteger" />
			<xsd:element name="Master">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="lim:master_id" minOccurs="0" />
						<xsd:element ref="lim:master_name" minOccurs="0" />
						<xsd:element ref="lim:master_host" minOccurs="0" />
						<xsd:element ref="lim:master_port" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema targetNamespace="urn:Lim::DB::Master">
 			<xsd:element name="ReadMasters" />
			<xsd:element name="ReadMastersResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="lim:Master" maxOccurs="unbounded" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
 			<xsd:element name="ReadMaster">
 				<xsd:complexType>
 					<xsd:choice>
						<xsd:element ref="lim:Master" maxOccurs="unbounded" />
 					</xsd:choice>
 				</xsd:complexType>
 			</xsd:element>
			<xsd:element name="ReadMasterResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="lim:Master" maxOccurs="unbounded" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
 			<xsd:element name="CreateMaster">
 				<xsd:complexType>
 					<xsd:choice>
						<xsd:element ref="lim:Master" maxOccurs="unbounded" />
 					</xsd:choice>
 				</xsd:complexType>
 			</xsd:element>
			<xsd:element name="CreateMasterResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="lim:Master" maxOccurs="unbounded" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
 			<xsd:element name="UpdateMaster">
 				<xsd:complexType>
 					<xsd:choice>
						<xsd:element ref="lim:Master" maxOccurs="unbounded" />
 					</xsd:choice>
 				</xsd:complexType>
 			</xsd:element>
			<xsd:element name="UpdateMasterResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="lim:Master" maxOccurs="unbounded" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
 			<xsd:element name="DeleteMaster">
 				<xsd:complexType>
 					<xsd:choice>
						<xsd:element ref="lim:Master" maxOccurs="unbounded" />
 					</xsd:choice>
 				</xsd:complexType>
 			</xsd:element>
			<xsd:element name="DeleteMasterResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="lim:Master" maxOccurs="unbounded" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="ReadMastersRequest">
		<wsdl:part element="tns:ReadMasters" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="ReadMastersResponse">
		<wsdl:part element="tns:ReadMastersResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="ReadMasterRequest">
		<wsdl:part element="tns:ReadMaster" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="ReadMasterResponse">
		<wsdl:part element="tns:ReadMasterResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateMasterRequest">
		<wsdl:part element="tns:CreateMaster" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="CreateMasterResponse">
		<wsdl:part element="tns:CreateMasterResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="UpdateMasterRequest">
		<wsdl:part element="tns:UpdateMaster" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="UpdateMasterResponse">
		<wsdl:part element="tns:UpdateMasterResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="DeleteMasterRequest">
		<wsdl:part element="tns:DeleteMaster" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="DeleteMasterResponse">
		<wsdl:part element="tns:DeleteMasterResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:portType name="LimDBMaster">
		<wsdl:operation name="ReadMasters">
 			<wsdl:input message="tns:ReadMastersRequest" />
			<wsdl:output message="tns:ReadMastersResponse" />
		</wsdl:operation>
		<wsdl:operation name="ReadMaster">
 			<wsdl:input message="tns:ReadMasterRequest" />
			<wsdl:output message="tns:ReadMasterResponse" />
		</wsdl:operation>
		<wsdl:operation name="CreateMaster">
 			<wsdl:input message="tns:CreateMasterRequest" />
			<wsdl:output message="tns:CreateMasterResponse" />
		</wsdl:operation>
		<wsdl:operation name="UpdateMaster">
 			<wsdl:input message="tns:UpdateMasterRequest" />
			<wsdl:output message="tns:UpdateMasterResponse" />
		</wsdl:operation>
		<wsdl:operation name="DeleteMaster">
 			<wsdl:input message="tns:DeleteMasterRequest" />
			<wsdl:output message="tns:DeleteMasterResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="LimDBMasterSOAP" type="tns:LimDBMaster">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ReadMasters">
			<soap:operation soapAction="urn:Lim::DB::Master#ReadMasters" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadMaster">
			<soap:operation soapAction="urn:Lim::DB::Master#ReadMaster" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateMaster">
			<soap:operation soapAction="urn:Lim::DB::Master#CreateMaster" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateMaster">
			<soap:operation soapAction="urn:Lim::DB::Master#UpdateMaster" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteMaster">
			<soap:operation soapAction="urn:Lim::DB::Master#DeleteMaster" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="LimDBMaster">
		<wsdl:port binding="tns:LimDBMasterSOAP" name="LimDBMasterSOAP">
			<soap:address location="@SOAP_LOCATION@/soap/db" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
