wsdl/lim.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="urn:Lim"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="Lim"
	targetNamespace="urn:Lim">

	<wsdl:types>
		<xsd:schema targetNamespace="urn:Lim">
			<xsd:element name="version" type="xsd:string" />
			<xsd:element name="type" type="xsd:string" />
			<xsd:element name="ReadVersion" />
			<xsd:element name="ReadVersionResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:version" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadType" />
			<xsd:element name="ReadTypeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:Type" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="ReadVersionRequest">
		<wsdl:part element="tns:ReadVersion" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="ReadVersionResponse">
		<wsdl:part element="tns:ReadVersionResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="ReadTypeRequest">
		<wsdl:part element="tns:ReadType" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="ReadTypeResponse">
		<wsdl:part element="tns:ReadTypeResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:portType name="Lim">
		<wsdl:operation name="ReadVersion">
			<wsdl:input message="tns:ReadVersionRequest" />
			<wsdl:output message="tns:ReadVersionResponse" />
		</wsdl:operation>
		<wsdl:operation name="ReadType">
			<wsdl:input message="tns:ReadTypeRequest" />
			<wsdl:output message="tns:ReadTypeResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="LimSOAP" type="tns:Lim">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ReadVersion">
			<soap:operation soapAction="urn:Lim#ReadVersion" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadType">
			<soap:operation soapAction="urn:Lim#ReadType" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="Lim">
		<wsdl:port binding="tns:LimSOAP" name="LimSOAP">
			<soap:address location="@SOAP_LOCATION@/soap/lim" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
